body {
    background-color: #424242;
}

#Sidebar_Left {
    background-color: #353535;
    position: fixed;
    width: 4%;
    height: 90%;
    bottom: 0;
    left: 0;
    border: 0;
    float: left;
}

#Sidebar_Right{
    background-color: #353535;
    position: fixed;
    width: 10%;
    height: 90%;
    bottom: 0;
    right: 0;
    border: 1px;

}

#Banner{
    background-color: #000491;
    postition: fixed;
    width: 100%;
    height: 10%;
    top: 0;
    border: 0;
}

#Main {
    background-color: #
    position: relative;
    bottom: 0;
    width: 84%;
    height: 90%;
    border: 1px;
}
