body {
    background-color: #424242;
}
h1 {
    color: #EBF5EE;
}
p {
    color: #EBF5EE;
}
header {
    height: 100%;
}
#Banner{
    background-color: #000491;
    border: 0px;
    margin: 0;
    padding: 0;
}
main {
    position: relative;
    margin: 0;
}
#Content {
    border: 0px;
    margin: 0;
}
#Sidebar_Left {
    background-color: #353535;
    border: 0px;
    margin: 0;
    padding: 0;
}
#Sidebar_Right{
    background-color: #353535;
    border: 0px;
    margin: 0;
    padding: 0;
}
